@import 'global';

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
        &:not(:first-of-type) {
            margin-top: 2.4rem;
        }
    }

    input {
        margin: .8rem;
    }

    button {
        padding: 1rem 2rem;
        background-color: #ddd;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }

        &:active {
            background-color: #bbb;
        }
    }
}

.pop {
    width: 100vw;
    height: 100vh;
    position: absolute;

    background-color: rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        padding: 4.8rem;
        background-color: #ddd;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            text-transform: uppercase;
        }

        p {
            text-transform: uppercase;
        }

        a {
            margin: 1.6rem;
            padding: 1.6rem 2.4rem;
            background-color: #03c4a1;
            border-radius: 1rem;
            color: #000000;
            text-decoration: none;

            &:hover {
                filter: brightness(.9);
            }

            &:active {
                filter: brightness(.8);
            }
        }
    }
}